.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-table thead th,
.custom-table tbody td {
  border-right: 1px solid #d9d9d9; /* Add a right border to each cell */
}

.custom-table tbody tr:last-child td {
  border-bottom: 1px solid #d9d9d9; /* Add a bottom border to the last row */
}

.custom-table thead th:first-child,
.custom-table tbody td:first-child {
  border-left: 1px solid #d9d9d9; /* Add a left border to the first column */
}

.custom-table thead th {
  border-top: 1px solid #d9d9d9; /* Add a top border to the header cells */
}

.custom-table {
  border-collapse: separate; /* Ensure borders do not overlap */
}
